<!DOCTYPE html>
<html lang="en">
<head>
  <title>Campus Image Gallary</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>


    
<div class="container">

  <h2 class="text-danger">Welcome To Campus Images Gallary of Adarsh School</h2>
  <div class="alert alert-success">
    <strong>Success!</strong> Now we have more then 10 Schools In all over Rajasthan !!.
  </div>
  <p>Click on the images to enlarge them.</p>
  <div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="/assets/image/sch.jpg" target="_blank">
          <img src="/assets/image/sch.jpg" alt="Lights" style="width:100%">
          <div class="caption">
            <p>School main Building with  Bus Parking</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="/assets/image/ground.jpg" target="_blank">
          <img src="/assets/image/ground.jpg" alt="Nature" style="width:100%">
          <div class="caption">
            <p>Prayer Ground</p>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="/assets/image/cafe.jpg" target="_blank">
          <img src="/assets/image/cafe.jpg" alt="Fjords" style="width:100%">
          <div class="caption">
            <p>Cafet area</p>
          </div>
        </a>
      </div>
    </div>

    <div class="col-md-4">
        <div class="thumbnail">
          <a href="/assets/image/kid.jpg" target="_blank">
            <img src="/assets/image/kid.jpg" alt="Fjords" style="width:100%">
            <div class="caption">
              <p>Kids Play Ground</p>
            </div>
          </a>
        </div>
      </div>

      <div class="col-md-4">
        <div class="thumbnail">
          <a href="/assets/image/crcg.jpg" target="_blank">
            <img src="/assets/image/crcg.jpg" alt="Fjords" style="width:100%">
            <div class="caption">
              <p>Sports Ground</p>
            </div>
          </a>
        </div>
      </div>

  </div>
</div>

</body>
</html>



