<h2>TRADITION OF EXCELLENCE SINCE 1927</h2>

<p>Established in 1927, by Rajasthan Government, Adarsh Education Group has, from the very beginning been focussed driven and motivated by the traditional Indian values of honesty, integrity and service. (View the minutes of the first Trust meeting).

    With over 94 years of experience within the educational space, the Adarsh group is now a network of 10 Adarsh Schools (completely managed by Adarsh Education Network) and 7 Adarsh Partner schools, with a combined student strength of more than 18000 and the support of 7,600 dedicated and loyal staff members.
    
    Our constantly growing network of education institutions includes a wide spectrum of Pre-Primary schools under the name Adarsh Jumbo Kids, Primary and Secondary schools under the name Adarsh International School, Partner Schools under the brand name Adarsh Learn School, colleges offering International undergraduate and graduate degrees, Part-Time courses and Teacher Training Institutes.
    
    The Adarsh network of schools also offers a wide choice of educational streams such as the Central Board of Secondary Education (CBSE), Council for the Indian School Certificate Examinations (CISCE), Secondary School Certificate (SSC), Cambridge (IGCSE) and International Baccalaureate (IB).
    
    Our scholastic record, innovative learning methods and strong commitment to delivering quality through integrity has helped us scale heights that few have managed in the field of education.
    
    As a result, Adarsh today is a trusted name and an acknowledged leader in the collective effort to shape the future of our children and the nation through its wide network of top schools in India.
    
    We welcome you to join the Adarsh family and to give your child the best when it comes to an integrated, holistic and empowering learning experience.</p>
